body {
    background-color: #f5f5fa;
    font-family: 'Poppins', sans-serif;
}

.container .col {
    background-color: #fff;
    padding: 0;
}

.dash {
    width: auto;
    gap: 30px;
}

.dash span {
    font-weight: 700;
    font-size: 20px;
}

.dash p {
    font-size: 13px;
}

.dash i {
    font-size: 40px;
}

.modal-body .card-img {
    width: 200px;
    height: 200px;
}

.modal-body .card-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 5px #0d6efd;
}


footer p {
    color: #fff;
}

.table .btn {
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
    .dash {
        gap: 0;
    }
}
@media only screen and (max-width: 576px) {
    .dash {
        width: 70%;
        justify-content: space-around;
    }
    .dash p{
        font-size: 10px;
    }

    .dash i {
    font-size: 20px;
}
}