/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ebedf1;
}

.title {
    color: #383838;
    ;
}

.pard {
    box-sizing: border-box;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(36, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: rgb(58, 52, 52);
    text-decoration: none;
    color: #555;
}